<section id="contact">
  <div  class="row h-100">
    <div [dir]="arabic ? 'rtl' : 'ltr'" [formGroup]="senderForm"  class="col-lg-6 col-md-12 p-5 d-flex flex-column align-items-start justify-content-between h-100">
      <p class=" fs-1 fw-bold fa slideInLeft"><span class="firstT"> {{languageData.contact.say}}</span> {{languageData.contact.Hello}}</p>
      <!-- <p class=" slideInLeft">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis, sunt.</p> -->
      <input type="text" formControlName="name" readonly
        class="border-white w-100 border-0 border-bottom bg-transparent p-3 slideInLeft" placeholder="{{languageData.contact.yourName}}">
      <input type="email" formControlName="email" readonly
        class="border-white w-100 border-0 border-bottom bg-transparent p-3  slideInLeft" placeholder="{{languageData.contact.yourEmail}}">
      <p *ngIf="emailError" class="text-danger">{{emailError}}</p>
      <textarea formControlName="message" placeholder="{{languageData.contact.WRM}}" readonly
        class="border-white vh-22 w-100 border-0 border-bottom bg-transparent p-3 slideInLeft"></textarea>
      <button class="send w-50 text-black py-2 slideInLeft " (click)="send(senderForm.value)" disabled>{{languageData.contact.send}}</button>
      <div class=" d-flex flex-column  justify-content-between col-lg-8 col-md-7 col-12">
        <p class="my-2  slideInLeft text-nowrap fa"><span class="firstT">{{languageData.contact.find}}</span> {{languageData.contact.withMe}}</p>
        <div class=" d-flex align-items-center justify-content-between btns slideInLeft ">
          <a target="_blank" href="https://www.linkedin.com/in/ziad-alattar-b6a481224/"><button><i
                class="fa-brands fa-linkedin-in linkedIn-color fs-4"></i></button></a>
          <a target="_blank" href="https://github.com/Ziadal3tar"><button><i
                class="fa-brands fa-github github-color fs-4"></i></button></a>
          <a target="_blank" href="https://wa.me/01270363116"><button><i
                class="fa-brands fa-whatsapp whatsApp-color fs-4"></i></button></a>
          <a target="_blank" href="https://www.facebook.com/profile.php?id=100009837481669"><button><i
                class="fa-brands fa-facebook-f faceBook-color fs-4"></i></button></a>
          <a target="_blank" href="https://www.instagram.com/ziadalmorsy22/"><button><i
                class="fa-brands fa-instagram insta-color fs-4"></i></button></a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-12 p-0">
      <div class="image"></div>
    </div>
    <div class="col-lg-3 col-sm-6 col-12  details p-0">
      <div class="image2"></div>
      <div [dir]="arabic ? 'rtl' : 'ltr'" class="pt-5 px-5 ">
        <p  class=" fs-1  slideInRight fa mb-3"><span class="firstT">{{languageData.contact.firstName}}</span> {{languageData.contact.lastName}}</p>
        <p class=" slideInRight">{{languageData.contact.text}}</p>
      </div>
      <div class="pt-5 px-5 d-flex flex-column align-items-start justify-content-between slideInRight ">
        <p class=" "><i class="fa-solid fa-phone fs-6"></i><span class=" mx-2 text-decoration-underline">0127
            0363
            116</span></p>
        <p class=" "><i class="fa-solid fa-envelope fs-6"></i><span
            class=" mx-2 text-decoration-underline">ziadalattar22@gmail.com</span></p>
        <p class=" "><i class="fa-solid fa-file fs-6">


        </i><span class="CV mx-2 text-decoration-underline"><a
              class=" text-decoration-none "
              target="_blank" href="https://drive.google.com/file/d/12eOgkdTYYwLxkS5ELRYt5wCiI723x22m/view?usp=drivesdk">MY
              CV</a></span></p>

      </div>
    </div>
  </div>
</section>
<app-loading *ngIf="loading"></app-loading>
