<section id="contact">
  <div class="row h-100">
    <div class="col-6 p-5 d-flex flex-column align-items-start justify-content-between h-100">
      <p class="">Say Hello</p>
      <p class="">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis, sunt.</p>
      <input type="text" class="border-black w-100 border-0 border-bottom bg-transparent p-3" placeholder="Your Name">
      <input type="text" class="border-black w-100 border-0 border-bottom bg-transparent p-3 " placeholder="Your Email">
      <textarea name="" id="" placeholder="Write your message"
        class="border-black h-50 w-100 border-0 border-bottom bg-transparent p-3"></textarea>
      <button class="send w-50 text-white">SEND</button>
      <div class=" d-flex flex-column  justify-content-between col-6">
        <p class="my-2 ">FIND WITH ME</p>
        <div class=" d-flex align-items-center justify-content-between">
          <a href="https://www.linkedin.com/in/ziad-alattar-b6a481224/"><button><i class="fa-brands fa-linkedin-in linkedIn-color fs-4"></i></button></a>
          <a href="https://github.com/Ziadal3tar"><button><i class="fa-brands fa-github github-color fs-4"></i></button></a>

          <a href="https://wa.me/01270363116"><button><i class="fa-brands fa-whatsapp whatsApp-color fs-4"></i></button></a>
          <a href="https://www.facebook.com/profile.php?id=100009837481669"><button><i class="fa-brands fa-facebook-f faceBook-color fs-4"></i></button></a>
          <a href="https://www.instagram.com/ziadalmorsy22/"><button><i class="fa-brands fa-instagram insta-color fs-4"></i></button></a>
        </div>
      </div>
    </div>
    <div class="col-3 p-0">
      <div class="image"></div>
    </div>
    <div class="col-3 details p-0">
      <div class="image2 "></div>
      <div class="p-5 pe-2 ">
        <p class=" fs-1 ">ZIAD ALMORSY</p>
        <p class="">I am available for freelance work. Connect with me via and call in to my account</p>
      </div>
      <div class="p-5 pe-2 d-flex flex-column align-items-start justify-content-between">
        <p class=" "><i class="fa-solid fa-phone fs-6"></i><span class=" mx-2 text-decoration-underline">0127 0363 116</span></p>
        <p class=" "><i class="fa-solid fa-envelope fs-6"></i><span class=" mx-2 text-decoration-underline">ziadalattar22@gmail.com</span></p>
        <p class=" "><i class="fa-solid fa-file fs-6"></i><span class=" mx-2 text-decoration-underline"><a class=" text-decoration-none text-white" href="https://res.cloudinary.com/dqaf8jxn5/image/upload/v1693761419/ZiadResume_bfomu1.pdf">MY CV</a></span></p>

      </div>
    </div>
  </div>
</section>
