#contact {
  overflow: hidden;

  margin-top: 60px;
  height: auto;
  // background-color: #171717;
  background-color: var(--bg-color);

  width: 100vw;

  p {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);

  }

  .CV {
    a {
      color: var(--text-color);
    }

  }

  ::placeholder {

    color: var(--text-color);

    opacity: 1;
  }

  textarea,
  input {
    outline: none;
    cursor: none;
    // color: #ffffff;
    color: var(--text-color);
    border-color: var(--text-color) !important;
  }

  .btns {
    height: 70px;

  }

  button {
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    width: 50px;
    height: 50px;
    background-color: var(--text-color);

    cursor: pointer;
    border: none;
    border-radius: 500px 0 500px 500px !important;

    &:hover {
      margin-bottom: 20px;
    }
  }

  button.send {
    margin: 20px 0;
    color: var(--bg-color) !important;

    &:hover {
      margin-bottom: 10px;
    }
  }

  .image {
    background-image: url(../../../assets/image/contact.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 1 !important;
  }

  .details {
    background-color: var(--bg-color);


    height: 85vh;
  }

  .image2 {
    width: 100%;
    height: 40%;
    background-image: url(../../../assets/image/contact1.png);
    background-position: center;
    background-size: 110%;
    transition: 0.5s !important;

    &:hover {
      background-size: 140%;
    }
  }
}
