.about-identity {
  min-height: 100vh;
  // background: var(--bg-color);
    color: var(--text-color);

  display: flex;
  align-items: center;
  overflow: hidden;

}

/* Grid */
.identity-grid {
  width: 100%;
  display: grid;
    grid-template-columns: 0.8fr 1.1fr;
      padding: 0 8%;
  align-items: center;

  @media (max-width: 992px) {
    grid-template-columns: 1fr;
    padding: 80px 6%;
    gap: 60px;
    flex-direction: column-reverse;
    display: flex;
  }
}

/* Text */
.identity-text {
  position: relative;
  z-index: 2;
}

.identity-label {
  font-size: 13px;
  letter-spacing: 4px;
  text-transform: uppercase;
      color: var(--text-color);

}

/* Main Name */
.identity-name {
  font-size: 96px;
  font-weight: 900;
  line-height: .95;
  margin: 20px 0;

  @media (max-width: 992px) {
    font-size: 56px;
  }
}

/* Animated Role */
.identity-role span {
  display: inline-block;
  font-size: 40px;
  font-weight: 800;
  background: linear-gradient(
    90deg,
    #e7902e,
    #ffffff,
    #e7902e
  );
  background-size: 300% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 4s linear infinite;

  @media (max-width: 992px) {
    font-size: 28px;
  }
}

@keyframes shine {
  to {
    background-position: 300% center;
  }
}

/* Description */
.identity-desc {
  margin-top: 30px;
  max-width: 520px;
  font-size: 18px;
  line-height: 1.9;
      color: var(--text-color);

}

/* Visual */
.identity-visual {
  position: relative;
  height: 520px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Image Mask */
.image-mask {
  width: 360px;
  height: 480px;
  overflow: hidden;
  border-radius: 200px;
  z-index: 2;
  box-shadow: 0 40px 120px rgba(0,0,0,.8);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
 @media (max-width: 992px) {
width: 120px;
        height: 210px;
  }
  @media (max-width: 500px) {
width: 100px;
        height: 190px;
  }
}

/* Huge Background Text */
.identity-bg-text {
  position: absolute;
  font-size: 240px;
  font-weight: 900;
    color: var(--text-color);

  letter-spacing: 40px;
  z-index: 1;
  user-select: none;

  @media (max-width: 992px) {
    // display: none;
        padding: 0 0 0 40px;
        font-size: 85px;
  }
  @media (max-width: 500px) {
        padding: 0 0 0 40px;
        font-size: 55px;
  }
}
