
<section class="row m-0 " >
  <div class="row m-0 flex-column-reverse flex-lg-row" #particlesContainer>
    <div class="col-lg-6 col-md-12 d-flex align-items-center justify-content-center flex-column half-1">
      <div class="col-12 d-flex flex-column align-items-center justify-content-evenly m-0">
        <p class="par-2 slideInLeft">Ziad<span class="mainColor"> Almorsy</span></p>
      </div>
      <div appRotateText [rotateArray]="['Freelancer.', 'Web developer.', 'Frontend developer.', 'Backend developer.', 'MeanStack developer.']" [rotatePeriod]="1200"></div>

      <div class="btns d-flex align-items-center justify-content-between my-2  slideInLeft">
        <button class=" btn btn-1 text-white rounded-0 px-3 rounded-2" routerLink="/projects" (click)="click('projectsSection')">MY PROJECT</button>
        <button class=" btn btn-2 text-white rounded-0 px-3 rounded-2" routerLink="/contact" (click)="click('contactSection')">CONTACT</button>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 vh-100 d-flex align-items-center justify-content-center half-2 p-0 m-0 slideInRight">

      <div (click)="toPdf()" class="col-12 row m-0 animation d-flex align-items-center justify-content-center">
        <div class=" col-12 p-5 mt-5   position-relative overflow-hidden "
          style="border-radius: 50px; height: 490px ; width: 400px; background-image: url(../../../assets/13972.jpg); background-position: center; background-size: contain;">
          <div class=" imageP " id='imageP'></div>
          <div class=" doc " id='doc'></div>
          <div class=" shkl1" id="shkl1"></div>
          <div class=" shkl2" id="shkl2"></div>
        </div>
      </div>
    </div>
  </div>

</section>
<div id="particles-js"></div>
