section {
  overflow: hidden;

  padding-top: 60px;

  .half-1 {
    height: 100vh;
    @media (max-width: 1000px) {height: auto!important;}

    @media (min-width: 0px) and (max-width: 500px) {

      height: 70vh;
    }

    .par-1 {
      position: relative;
      font-size: 80px;
      font-weight: 900;
      opacity: 1;

      @media (min-width: 0px) and (max-width: 500px) {

        font-size: 35px !important;
      }

      &:after {
        content: '';
        width: 80%;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 100%;
        margin: 0 10px;
        background: #000000;
      }
    }

    .par-2 {
      font-size: 90px;
      font-weight: 900;
      white-space: nowrap;
      line-height: 70px;

      // 769
      @media (min-width: 971px) and (max-width: 1250px) {
        font-size: 66px !important;
      }

      @media (min-width: 500px) and (max-width: 971px) {
        font-size: 66px !important;
      }

      @media (min-width: 300px) and (max-width: 500px) {

        font-size: 50px !important;
      }

      @media (min-width: 0px) and (max-width: 300px) {

        font-size: 25px !important;
      }

 

      @keyframes back {
        100% {
          background-position: 2000px 0;
        }
      }
    }


    .par-3 {
      font-size: 32px;
      font-weight: 300;
      white-space: nowrap;

      @media (min-width: 250px) and (max-width: 460px) {
        font-size: 16px !important;
      }


    }

    div {
      padding-top: 10px;
      // @media (min-width: 310px) and (max-width: 350px) {}
      @media (min-width: 1000px) {
        width: 300px;
      }
      @media (max-width: 1000px) {
        width: 300px;
      }
      .btn-1 {
        background-color: #c70039;
        white-space: nowrap;
        font-weight: 500;
        border-radius: 0 15px 0 15px !important;

        &:hover {
          background-color: #fff;
          color: #c70039 !important;

        }
      }

      .btn-2 {
        // background-color: #fff;
        background-color:var(--text-color);
        color: #c70039 !important;
        font-weight: 500;
        border-radius: 0 15px 0 15px !important;

        &:hover {
          background-color: #c70039;
          color: #fff !important;

        }
      }

    }
  }

  .half-2 {
    height: 100%;
    position: relative;
    @media (max-width: 1000px) {height: auto!important;}

    .animation {
      .shkl1 {
        position: absolute;
        width: 200px;
        height: 200px;
        background-color: #c70039;
        border-radius: 50%;
        z-index: 5;
        transition: 0.5s !important;
      }

      .shkl12 {
        position: absolute;
        width: 200px;
        height: 350px;
        background-color: #c70039;
        border-radius: 70px 0 0 0;
        z-index: 1;
        transition: 0.5s !important;
        margin-left: -45px;
        margin-top: 93px;
      }

      .shkl13 {
        position: absolute;
        background-color: #c70039;
        z-index: 6;
        transition: 0.5s !important;
        width: 80%;
        height: 85%;
      }

      .shkl2 {
        position: absolute;
        width: 150px;
        height: 300px;
        background-color:var(--text-color);


        margin-left: 90px;
        margin-top: 100px;
        z-index: 2;
        border-radius: 0 0 80px 0;
        transition: 0.5s !important;
      }

      .shkl22 {
        position: absolute;
        width: 270px;
        height: 700px;
                background-color:var(--text-color);

        margin-left: 85px;
        margin-top: 0;
        margin-bottom: 0;
        z-index: 2;
        border-radius: 70px 0 0 0;
        transition: 0.5s !important;
      }

      .imageP {
        position: absolute;
        width: 100%;
        height: 100%;
        margin-left: -44px;
        background-image: url(../../../assets/image/Myproject.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 10 !important;
        margin-top: 110%;
        transition: 0.5s !important;
        cursor: pointer;
      }

      .doc {
        position: absolute;
        width: 80%;
        height: 85%;
        margin-left: 100%;
        margin-top: -10px;
        background-image: url(../../../assets/image/pdf.png);
        background-position: 10px center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 10 !important;
        transition: 0.5s !important;
        cursor: pointer;
      }
    }

    svg {
      margin: 0;
      padding: 0;
      height: 106%;
      position: absolute;
      top: 0;
      right: -70px;
    }
  }
}

.btns {
  @media (min-width: 310px) and (max-width: 350px) {
    button {
      font-size: 14px !important;
    }
  }

  @media (min-width: 280px) and (max-width: 310px) {
    button {
      font-size: 12px !important;
    }
  }

  @media (min-width: 0px) and (max-width: 280px) {
    button {
      font-size: 10px !important;
    }
  }

}
#particles-js {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
