
<section class="row m-0 " >

  <div class="row m-0 flex-column-reverse flex-lg-row" #particlesContainer>



    
    <div class="col-lg-6 col-md-12 d-flex align-items-center justify-content-center flex-column half-1">

  <div class="hero-text">

    <p class="hero-name slideInLeft">
      {{languageData.header.firstName}}
      <span>{{languageData.header.lastName}}</span>
    </p>

    <div class="hero-roles">
      <div
        appRotateText
        [rotateArray]="[
          languageData.header.Freelancer,
          languageData.header.WebDeveloper,
          languageData.header.FrontendDeveloper,
          languageData.header.BackendDeveloper,
          languageData.header.MeanStackDeveloper
        ]"
        [rotatePeriod]="1200">
      </div>
    </div>

    <div class="hero-actions slideInLeft">
      <button
        class="btn-primary"
        routerLink="/projects"
        (click)="click('projectsSection')">
        {{languageData.header.myProject}}
      </button>

      <button
        class="btn-secondary"
        routerLink="/contact"
        (click)="click('contactSection')">
        {{languageData.header.contact}}
      </button>
    </div>

  </div>

</div>





    <div class="col-lg-6 col-md-12 vh-100 d-flex align-items-start align-items-lg-center justify-content-center half-2 p-0 m-0 slideInRight">

      <div (click)="toPdf()" class="col-12 row m-0 animation d-flex align-items-center justify-content-center">
        <div class=" col-12 p-5 mt-5   position-relative overflow-hidden "
          style="border-radius: 50px; height: 490px ; width: 400px; background-image: url(../../../assets/13972.jpg); background-position: center; background-size: contain;">
          <div class=" imageP " id='imageP'></div>
          <div class=" doc " id='doc'></div>
          <div class=" shkl1" id="shkl1"></div>
          <div class=" shkl2" id="shkl2"></div>
        </div>
      </div>
    </div>
  </div>

</section>
<div id="particles-js"></div>
