<section id="header">
  <div class=" w-100 header d-flex align-items-end justify-content-center pb-5">
    <div class="image position-absolute"></div>
    <p class="mb-5"><span class="home "><a class="transition" href="home">home </a> <span><i
            class="fa-solid fa-angle-right"></i></span> </span> projects</p>
  </div>
</section>

<section id="filter" class="row m-0 d-flex align-items-center justify-content-center">
  <ul id="ul" class=" col-xl-5 col-lg-6 col-md-8 col-11">
    <li (click)="active($event,'pure')">pure js</li>
    <li (click)="active($event,'angular')">angular</li>
    <li (click)="active($event,'frontend')">frontend</li>
    <li (click)="active($event,'backend')">backend</li>
    <li (click)="active($event,'all')" class="active">all</li>
  </ul>
</section>

<section id="projects" class="container row m-0 mx-auto px-5 d-flex align-items-center justify-content-evenly">
  <div class="col-12 col-md-6 col-xl-4 px-5 project my-3 overflow-hidden position-relative" *ngFor="let x of projects let i = index " id="project{{i}}"
    [ngClass]="{ 'unFiltered' : filter != x.type&& filter != 'all', 'filtered' : filter == x.type ||  filter == 'all'}">
    <div class="col-12 transition cursor-pointer image" style="background-image: url({{x.images[0]}});"
      (click)="project = x">
    </div>
    <div class="  details d-flex flex-column align-items-end">
      <div class=" w-100 d-flex justify-content-between align-items-center">
        <p class=" fw-bold fs-4 ">{{x.name}}</p>
        <a href="{{x.link}}">demo</a>
      </div>
      <p class=" text-primary cursor-pointer" (click)="details(i)">details</p>
    </div>
     <div class="moreDetails transition">
      <p class="fw-bolder fs-3">{{x.name}}</p>
      <p>{{x.description}}</p>
      <div>
        <p class="fw-bolder secColor">-technologies</p>
        <ul class="  text-decoration-none">
          <li *ngFor="let technology of x.technologies" class="mainColor list-unstyled ">{{technology}}</li>
        </ul>
      </div>
     </div>

  </div>

</section>
<section class="showImages vw-100 vh-100 bg-black position-fixed top-0 start-0 bg-opacity-75 p-5" *ngIf="project">
  <i class="fa-solid fa-xmark text-white fs-3  m-3 cursor-pointer position-absolute top-0 end-0"
   (click)="close()"></i>
  <div class=" imageDisplayed " style="background-image: url({{project.images[imageNum]}});"></div>
  <i class="fa-solid fa-caret-right text-white fs-3  m-3 cursor-pointer position-absolute top-50 end-0 me-5"
    (click)="right()"></i>
  <i class="fa-solid fa-caret-left text-white fs-3  m-3 cursor-pointer position-absolute top-50 start-0 ms-5"
    (click)="left()"></i>
</section>
