<section id="header">
  <div class=" w-100 header d-flex align-items-end justify-content-center pb-5">
    <div class="image position-absolute"></div>
    <p class="mb-5"><span class="home "><a class="transition" href="home">home </a> <span><i
            class="fa-solid fa-angle-right"></i></span> </span> projects</p>
  </div>
</section>

<section id="filter" class="row m-0 d-flex align-items-center justify-content-center">
  <ul id="ul" class=" col-xl-5 col-lg-6 col-md-8 col-11">
    <li class="d-none d-sm-block" (click)="active($event,'pure javascript')">pure js</li>
    <li (click)="active($event,'angular')">angular</li>
    <li (click)="active($event,'frontend')">frontend</li>
    <li (click)="active($event,'backend')">backend</li>
    <li (click)="active($event,'all')" class="active">all</li>
  </ul>
</section>
<!-- [ngClass]="{ 'unFiltered' : filter != x.type&& filter != 'all', 'filtered' : filter == x.type ||  filter == 'all'}" -->
<section id="projects" class="container row m-0 mx-auto px-3 d-flex align-items-center justify-content-evenly">
  <div class="col-12 col-md-6 col-xl-4 project my-3 overflow-hidden position-relative filtered" *ngFor="let x of projects let i = index " id="project{{i}}"
    >
    <div class="col-12 transition cursor-pointer image" style="background-image: url({{x.images[0]}});"
      (click)="project = x" (click)="hideNav()">
    </div>
    <div class="  details d-flex flex-column align-items-end">
      <div class=" w-100 d-flex justify-content-between align-items-center">
        <p class=" fw-bold fs-4 ">{{x.name}}</p>
        <a href="{{x.link}}">demo</a>
      </div>
      <p class=" text-primary cursor-pointer" (click)="details(i)">details</p>
    </div>
     <div class="scrollStyle  overflow-scroll moreDetails transition">
      <p class="fw-bolder fs-3">{{x.name}}</p>
      <p>{{x.description}}</p>
      <div>
        <p class="fw-bolder secColor">-technologies</p>
        <ul class="  text-decoration-none">
          <li *ngFor="let technology of x.technologies" class="mainColor list-unstyled ">{{technology}}</li>
        </ul>
      </div>
     </div>

  </div>

</section>



<section class="showImages w-100 h-100 bg-black position-fixed top-0 start-0 bg-opacity-75" *ngIf="project" >
  <i class="fa-solid fa-xmark text-white fs-3  m-3 cursor-pointer position-absolute top-0 end-0"
   (click)="close()"></i>
<div class=" imageDisplayed " style="background-image: url({{project.images[imageNum]}});"


(mousedown)="onMouseDown($event)"
(mousemove)="onMouseMove($event)"
(mouseup)="onMouseUp()"
(mouseleave)="onMouseLeave()"
(mouseout)="onMouseOut()"

></div>

    <div class="dots w-100 d-flex align-items-center justify-content-center">
      <button class=" border-0  rounded-5  box-shadow btnSlider mx-1 transition" [ngClass]="{'bg-mainColor': i==imageNum}"
      *ngFor="let item of project.images let i = index" (click)="changeImg(i)"></button>
    </div>
</section>
