
<app-nav *ngIf="routeName != 'open'"></app-nav>
<router-outlet></router-outlet>
<section *ngIf="!load" id="load">
<img src="./assets/image/Screenshot_2024-01-24_164803-removebg-preview.png" alt="" srcset="">
<div class="loader">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>

</section>

<div class="sci" *ngIf="load">

  <ul class="">

    <li><a target="_blank" href="https://ziadal3tar.github.io/ZiadAlmorsyPortfolio/"><i class="bi bi-browser-chrome"></i></a>
    </li>
    <li><a target="_blank" href="https://www.facebook.com/profile.php?id=100009837481669"><i
          class="bi bi-facebook"></i></a></li>
    <li><a target="_blank" href="https://wa.me/01270363116"><i class="bi bi-whatsapp"></i></a></li>
    <li><a target="_blank" href="https://www.linkedin.com/in/ziad-alattar-b6a481224/"><i
          class="bi bi-linkedin"></i></a></li>
  </ul>
  <p>CODED BY <span>ZIAD ALMORSY</span></p>
</div>
<!-- <app-control *ngIf="open"></app-control> -->
