:root {
  --text-color: #ffffff; // Default text color
}
nav {
  width: 100%;
  height: 60px;
  background: var(--bg-color);
  z-index: 9999;

  @media (max-width :768px) {
    padding: 0 20px;

  }

  .menu {
    height: 20px !important;

    cursor: pointer;

    i {
      display: block;
      width: 25px;
      height: 3px;
      background: Var(--text-color);
      border-radius: 5px;
      transition-delay: .5s;
      transition: all .6s;
    }

    .rotateL {
      transform: rotate(45deg) translate(2px, 4px);
    }

    .rotateR {
      transform: rotate(-45deg) translate(8px, -10px);
    }
  }
.arabic{
  background-image: url('../../../assets/image/arabic.jpeg');
  width: 20px;
  height:15px;
  background-position: center;
  background-size: cover;
    cursor: pointer;

}
.english{
  background-image: url('../../../assets/image/english.jpg');
  width: 20px;
  height: 15px;
  background-position: center;
  background-size: cover;
    cursor: pointer;

}


  .logo {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard syntax */
    span {
      color: #5692cd;
    }

    font-family: 'Black Ops One',
    cursive;
    font-size: 40px;
    position: relative;
    transition: 0.5s !important;
    cursor: pointer;

    &:hover {


      &:after {


        content: '';
        width: 60px;
        height: 4px;
        position: absolute;
        top: 50%;
        left: 100%;
        margin: 0 10px;
        background: #ffffff;
      }
    }

    &:after {
      transition: 0.5s !important;
      content: '';
      width: 40px;
      height: 4px;
      position: absolute;
      top: 50%;
      left: 100%;
      margin: 0 10px;
      background: var(--text-color);
    }
  }

  ul {
    transition-delay: .5s;

    li {
      list-style: none;
      font-size: 18px;
      font-weight: 700;

      @media (max-width: 500px) {
        font-weight: 500 !important;

        font-size: 14px !important;


      }
    }
  }

  .container1 {
    width: 100%;
    overflow: hidden;

    .mr-100 {
      margin-right: -100% !important;
    }

    .divUl {
      width: 60vw;
      position: relative;
      overflow: hidden;

      @media (max-width: 730px),
      (min-width:500px) {
        width: 80vw;

      }

      &:before {
        content: '';
        width: 1px;
        height: 30px;
        position: absolute;
        top: 0%;
        right: 90%;
        background: #000000;
      }

      a {
        cursor: pointer;
      }
    }
  }
}

.sidenav {
  z-index: 999 !important;
  height: 100vh;
  // background: #202020;
  background: var(--bg-color);
  z-index: 11;
  width: 100%;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
  position: fixed;
  padding: 10px 0px 5px 0px !important;

  ul {

    li {
      font-size: 30px;
      font-weight: 600;
      list-style: none;
      position: relative;
      width: 100%;
      height: 50px !important;
      overflow: hidden;

      a {
        color: var(--text-color);

        transition: all 1s;
        cursor: pointer;
        position: absolute;
        transform: translateY(0px);


        top: 0;

        span {
          opacity: .8;
          font-size: 11px;
          color: #5692cd;

        }
      }

    }
  }
}

.close {
  width: 0px;
  transition-delay: 0.5s;

}

.open {
  transition-delay: 0.5s;
  width: 100%;
}

.top {
  transform: translateY(0px) !important;
  // transition: all .5s !important;
  transition-delay: 1s !important;

}

.bot {
  transform: translateY(50px) !important;


}
.btnDL {
  width: 60px;
  height: 25px;
  position: fixed;
  left: -10px;
  bottom: 10%;
  background-color: var(--bgDLbtn);
  border-radius: 0 2px 20px 0;
  transition: 0.1s;
  overflow: hidden;
z-index: 9999999999999;

  &::after,
  &::before {
    content: '';
    width: 100%;
    height: 33.33%;
    position: absolute;
    left: 0;
    z-index: -1;
  // display: none !important;

  }

  // &::after {
  //   top: 0;
  //   background-color: #ff0000;
  // }

  // &::before {

  //   bottom: 0;
  //   background-color: #000000;
  // }

  .right, .left {
    transition: 0.5s;
    z-index: 9;
  }

  .right {
    color: gold;
  }

  .left {
    color: #ffffff;
  }
}
.dAnimate {
  rotate: -8deg;
  // transform: translate(3px);
}

.lAnimate {
  rotate: 8deg;
  // transform: translate(-3px);
}
// .bgb{
//   &::after{
//     display: none!important;
//   }
//   &::before{
//     display: none!important;
//   }
// }
.passwordTap{
  z-index: 99 !important;
  input{
    outline: none;
  }
}
