<section id="header">
  <div class=" w-100 header d-flex align-items-end justify-content-center pb-5">
    <div class="image position-absolute"></div>
    <p class="mb-5 "><span class="home "><a class="transition text-black" href="home">{{languageData.services.home}} </a> <span><i
            class="fa-solid fa-angle-right text-black"></i></span> </span> {{languageData.services.services}}</p>
  </div>
</section>

<section id="slider" class="">
  <div class="item px-3" *ngFor="let item of items let i = index"
    [style.transform]="'translateX(' + (-imageNum * 100) + '%)'">



    <div class="w-100 h-100 details py-3">
      <div class="icon w-100 d-flex align-items-center justify-content-center"><i class="fs-1 secColor "
          [ngClass]="item.icon"></i></div>
      <div class="text text-center px-3 scrollStyle mx-1">
        <p class="fs-5">{{item.desc}}</p>
      </div>
    </div>
  </div>
</section>
<div style=" width: 100%;">
  <div class="position-relative btnDiv d-flex align-items-center justify-content-center">
    <div class="btnD" (click)="prevSlide()"><i class="bi bi-caret-left-fill fs-4"></i></div>
    <div class="btnD" (click)="nextSlide()"><i class="bi bi-caret-right-fill fs-4"></i></div>
  </div>
  <div class=" w-100 d-flex align-items-center justify-content-center py-1 d-none">
    <button class=" border-0  rounded-5 p-2 box-shadow btnSlider mx-1 transition"
      *ngFor="let item of items let i = index" [ngClass]="{'bg-secColor':i==imageNum+1}"
      ></button>
  </div>
</div>
