
<div class="container-fluid mb-5" id="services">
  <div class="title w-100 text-center">
    <p>Services</p>
    <p>{{languageData.services.ServicesOffer}}</p>
  </div>>
  <h5>FrontEnd</h5>
  <div class=" d-flex scrollStyleX" appDragScroll>
      <div class=" main" *ngFor="let item of frontEndServices let i = index">
          <div class="box">
            <div class="our-services">
              <div class="icon">
              <i [ngClass]="up ? 'up ' + frontEndIcons[i] : 'down ' + frontEndIcons[i]"></i>

              </div>
              <h4 class="mb-2">{{item.title}},,</h4>
              <p>{{item.desc}}</p>
          </div>
          </div>
      </div>

  </div>

  <h5>BackEnd</h5>
  <div class=" d-flex scrollStyleX" appDragScroll>
      <div class=" main" *ngFor="let item of backEndServices let i = index">
          <div class="box">
            <div class="our-services" >
              <div class="icon" >
                <i [ngClass]="up ? 'up ' + backEndIcons[i] : 'down ' + backEndIcons[i]"></i>


              </div>
              <h4 class="mb-2">{{item.title}},,</h4>
              <p>{{item.desc}}</p>
          </div>
          </div>
      </div>

  </div>

</div>
